{% extends 'layouts/_base.html.twig' %}

{% block title %}Connecter{% endblock %}

{% block body %}
<form method="post" class="mt-5 col-8 offset-2">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="cover-heading">Se connecter</h1>
    <input type="text" value="{{ last_username }}" placeholder='login' name="username" id="inputUsername" class="form-control mb-1" required autofocus>
    <input type="password" name="password" id="inputPassword" placeholder='Mot de Passe' class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary col-12 mt-1" type="submit">
        Connecter
    </button>
</form>
{% endblock %}
