<div id="pagination">
<table class="table table-bordered bg-white col-12">
        <thead class="bg-primary text-light">
            <tr>
                <th>Id</th>
                <th>NumChambre</th>
                <th>NumBatiment</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.numChambre }}</td>
                <td>{{ chambre.numBatiment }}</td>
                <td>{{ chambre.type }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('chambre_show', {'id': chambre.id}) }}">details</a>
                    <a class="btn btn-alert" href="{{ path('chambre_edit', {'id': chambre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de Chambre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   
</div>
{# display navigation #}
<div class="navigation">
<ul class="pagination">
{% if  total_page > 1 %}
    {% if page >= 2 %}
        <li class="page-item"><a class="page-link" href="{{ path('chambre_index', {'page': page - 1})}}">Précédent</a>&nbsp; &nbsp;</li>
    {% else %}
        <li class="page-item disabled"><a class="page-link disabled">Précédent</a>&nbsp; &nbsp;</li>
 {% endif %}
 {% for i in  1 .. total_page %}
    <li class="page-item"><a class="page-link" href="{{ path('chambre_index', {'page': i })}}">{{i}}</a>&nbsp; &nbsp;</li>
{% endfor %}
{% if page == total_page %}
        <li class="page-item disabled"><a class="page-link disabled">Suivant</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="{{ path('chambre_index', {'page': page + 1})}}">Suivant</a></li>
    {% endif %}
{% endif %}
 </ul>
</div>

